/*reset*/

* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "Regular", Helvetica, Arial, sans-serif;
}

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #333;
  min-width: 320px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
  outline: none;
}

ol,
ul,
li {
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Microsoft YaHei';
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-rendering: optimizelegibility;
}


.ul,
.ul li {
  list-style: none;
}

.dot {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*2行文本省略号*/
.dot2 {
  display: -webkit-box;
  display: box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*3行文本省略号*/
.dot3 {
  display: -webkit-box;
  display: box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.ytable {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.ytable-cell {
  display: table-cell;
  vertical-align: middle;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.container,
.container-fluid {
  padding: 0;
}

.media-left,
.media-right,
.media-top {
  padding: 0;
}

.media,
.media-heading {
  margin: 0;
}

p,
.row,
dl {
  margin: 0;
}

.bx-wrapper {
  margin: 0 auto;
}

.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0;
}

button {
  border: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
.btn.active,
.btn:active {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}

em,
i {
  font-style: normal;
}

img {
  max-width: 100%
}



/*header*/

/*需要设置*/
.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-contain {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
}

.article-content {
  font-size: 16px;
  line-height: 30px;
  color: #000;
}


.article-content p,
.article-content div,
.article-content p span,
.article-content p strong,
.wp_entry p,
.wp_entry p span,
.wp_entry p strong {
  font-size: 16px !important;
  line-height: 28px !important;
  // text-indent: 2em !important;
  // font-family: Microsoft YaHei !important;
  // font-weight: 400 !important;
  // color: #010101 !important;
}

.article-content img,
.wp_articlecontent img {
  max-width: 100% !important;
  height: auto !important;
}

.header {
  height: 125px;
  /* background: linear-gradient(270deg, #3C7ABD, #064E94); */
  background-image: url(../images/top_bg.jpg);
  background-position: center;
}

.header .container {
  position: relative;
  padding: 23px 0;
}

.header-link {
  font-size: 12px;
  letter-spacing: 1px;
  color: #333;
  margin:0 0 0 0;
    position: absolute;
    right: 0;
  display: inline-block;
  line-height: 22px;
  color: #fff;
}

.header-link:hover {
  color: #fff !important;
}

/* .header-link:after {
  content: "";
  display: block;
  width: 1px;
  height: 60%;
  right: -18px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  background-color: #000;
} */

.header-link.last:after {
  display: none;
}

.header-web {
  padding-left: 32px;
  background: url("../images/top_icon_home.png") no-repeat left center;
  background-size: contain;
}

.header-link:hover,
.header-link:active,
.header-link:focus {
  color: #1f678d;
  opacity: 1;
}

.main-bg {
  float: left;
  width: 100%;
  border-top: 4px solid #2DC0B8;
}

.mobile-span-icon {
  color: #373737;
  font-weight: normal;
  font-size: 12px;
  margin-left: 5px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.mobile-navlist .nav-item.on>a .mobile-span-icon {
  color: #fff;
  transform: rotate(-180deg);
}

.nav-all {
  width: 100%;
  clear: both;
  background-color: #fff;
}

.navlist {
  height: 50px;
  position: relative;
}

.navlist:after {
  content: "";
  display: block;
  width: 100%;
  /* height: 2px; */
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.navlist>li {
  float: left;
  text-align: center;
}

.navlist>li>a {
  color: #000;
  font-weight: 800;
  font-family: MicrosoftYaHei-Bold;
  /* letter-spacing: 1px; */
  font-size: 17px;
  line-height: 50px;
  display: block;
  padding: 0 37.1px;
  font-weight: bold;
}

.navlist li a:hover,
.navlist>li.active>a {
  color: #fff;
  background: #0a5db8;
}

input {
  outline: none;
  border: none;
}


.nav-search {
  position: relative;
  width: 140px !important;
  height: 28px;
  background-color: rgba(238, 238, 238, 0.3);
  line-height: 28px;
  margin-top: 32px;
  padding: 0 45px 0 20px;
  overflow: hidden;
  border-radius: 50px;
}

.nav-search form {
  height: 29px;
}

.nav-search input.keywords {
  width: 100%;
  height: 28px;
  line-height: 28px;
  color: #d0d2e9;
  border: 0;
  background: transparent;
}


.btn-sub {
  position: absolute;
  right: 0;
  top: 0;
  width: 46px;
  height: 28px;
  background: url(../images/Search.png) center center no-repeat transparent;
}


.navlist>.nav-item {
  position: relative;
}

.navlist>.nav-item>.nav-item-menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  display: none;
}

.navlist>.nav-item>.nav-item-menu>li>a {
  color: #000;
  display: block;
  padding: 9px 5px;
  font-size: 15px;
}

.navlist>.nav-item>.nav-item-menu>li>a:hover {
  color: #fff;
}

.nav-mobile {
  position: absolute;
  top: 76px;
  display: none;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  z-index: 10000;
}

.mobile-navlist {
  background: #fff;
  overflow-y: auto;
  max-height: 350px;
}

.mobile-navlist>li {
  border-bottom: 1px solid #efefef;
}

.mobile-navlist li a {
  display: block;
  padding: 0 15px;
  text-decoration: none;
  font-size: 14px;
  color: #373737;
  height: 40px;
  line-height: 40px;
  position: relative;
}

.mobile-navlist>li>a {
  font-weight: bold;
}

.mobile-navlist .nav-item.on>a {
  background-color: #0a5db8;
  color: #fff;
}

.mobile-navlist>.nav-item>.nav-item-menu {
  display: none;
  padding: 0 15px;
}

.mobile-navlist .nav-item.on .nav-item-menu {
  display: block;
}

.mobile-navlist>.nav-item>.nav-item-menu>li>a {
  font-size: 14px;
  height: 34px;
  line-height: 34px;
}

.havethr .thrnav {
  display: none;
}

.havethr .thrnav li a {
  font-size: 12px;
  padding-left: 25px;
  height: 30px;
  line-height: 30px;
}

.bg-nav-mobilce,
.bg-nav-mobilce2 {
  display: none;
  position: absolute;
  top: 76px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: .6;
  filter: alpha(opacity=60);
  z-index: 998;
}

.box-mobile-form {
  z-index: 9999;
  display: none;
  padding: 10px 0 10px 0;
  position: fixed;
  width: 100%;
  background: #fff;
  top: 76px;
}

.mobile-form-search {
  position: relative;
  width: 70%;
  margin: 0 auto;
  border: 1px solid #0a5db8;
  border-radius: 16px;
}

.mobile-input-search {
  display: block;
  padding: 0 40px 0 15px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: none;
  background-color: transparent;
  color: #000;
  border-radius: 16px;
}

.mobile-btn-search {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  outline: none;
}

.mobile-search-icon {
  font-size: 20px;
  color: #0a5db8;
  margin-top: 5px;
  cursor: pointer;
}

.icon-collapse {
  top: 0;
}

.box-icon .icon {
  cursor: pointer;
  display: block;
  height: 30px;
}

.box-icon .icon-collapse {
  display: none;
}

.box-icon.open .icon-collapse {
  display: block;
  color: #fff;
  height: 20px;
  font-size: 20px;
}

.box-icon.open .icon {
  display: none;
}

.footer {
  background: #0b7b93;
  background-size: cover;
  //display: none;
}

.footer-info {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-info .pic {
  text-align: right;
}

.footer-info .txt {
  font-size: 12px;
  line-height: 33px;
  letter-spacing: 0px;
  color: #ffffff;
}

.footer .copyright {
  background-color: #056c82;
  padding: 10px 0;
  font-size: 12px;
  color: #acd1d9;
}



.main-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* 底部样式 */
.footer {
  background: #0a5db8;
  background-size: cover;
  display: block !important;
  color: #fff;
  font-size: 12px;
  line-height: 27px;
  // margin-top: 38px;
}

/* 友情链接 */
.footer-link {
  width: 100%;
  background: #eee;
  /* height: 49px; */
  /* line-height: 49px; */
}



.link-left {
  margin-top: 3px;
}


.footer-link .link-left h4:before {
  content: '';
  border-top: 5.5px solid transparent;
  border-bottom: 5.5px solid transparent;
  border-left: 6px solid #1193b4;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5.5px;
}

.friend-link a {
  font-size: 14px;
  color: #333333;
  padding: 0 30px 0 0;
  display: inline-block;
  margin: 3px 0;
}


/* 地址邮编 */
.footer-all {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 135px; */
}

.container-information {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-left {
  float: left;
  width: 15%;
  font-size: 20px;
}

.container-left .left-us {
  color: #ffffff;
  opacity: 0.4;
  font-size: 18px;
}

.container-center {
  float: left;
  width: 75%;
  color: #ffffff;
  font-size: 13px !important;
}

.container-center p .iconfont {
  color: #ffffff;
  font-size: 13px !important;
}

.footer-center {
  margin-top: 30px;
}



.right-qq {
  margin-right: 15px;
  position: relative;
}

.right-qq .contact {
  position: relative;
  position: absolute;
  top: -160px;
  left: -55px;
  width: 150px;
  height: 150px;
  background-color: #fff;
  box-shadow: 1px 0px 7px 0px rgba(84, 84, 84, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 14px;
}

.contact p:nth-child(1) {
  color: #1193b4;
  font-weight: 800;
}

.right-qq .contact:before {
  content: '';
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  left: 62px;
  bottom: -10px;
}

.right-wechat {
  position: relative;
}

.right-wechat .qrcode {
  position: relative;
  position: absolute;
  top: -160px;
  left: -55px;
  width: 150px;
  height: 150px;
  background-color: #fff;
  text-align: center;
  line-height: 150px;
  box-shadow: 1px 0px 7px 0px rgba(84, 84, 84, 0.2);
  border-radius: 5px;
}

.right-wechat .qrcode:before {
  content: '';
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  left: 62px;
  bottom: -10px;
}

.footer-s {
  width: 100%;
  height: 32px;
  background-color: #0a5db8;
}




.header-wechat {
  display: none;
}

@media (min-width: 992px) {

  .nav-all .nav {
    position: relative;
  }

  .header .col-xs-12 {
    position: static;
  }


  .header-wechat {
    display: block;
    height: 26px;
    width: 26px;
    position: relative;
    float: right;
    margin-top: 32px;
    margin-left: 10px;
    border-radius: 50%;
    background: url("../images/wechat.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }

  .header-wechat img {
    display: none;
    position: absolute;
    top: 130%;
    left: 50%;
    margin-left: -60px;
    height: 120px;
    width: 120px;
    z-index: 10;
    max-width: none;
  }

  .header-wechat:hover img {
    display: block;
  }

}

@media (max-width: 1199px) {
  .navlist>li>a {
    padding: 0 24.6px;
  }
}

@media (max-width: 991px) {
  .pc-banner {
    margin-top: 0 !important;
  }

  .local-title {
    display: none !important;
  }

  .publish-unit:before {
    display: none !important;
  }

  .navlist>li>a {
    padding: 0 24.6px;
  }

  .header {
    position: fixed;
    width: 100%;
    height: 76px;
    overflow: hidden;
    top: 0;
    z-index: 10000;
    background-image: url(../images/top_bg.jpg);
    background-position: center;
    /* background: linear-gradient(270deg, #3C7ABD, #064E94); */
  }

  .container {
    padding: 0 15px;
  }

  .logo-d {
    height: 45px;
  }

  .header-logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    max-width: 350px;
    height: auto;
  }

  .header .container {
    padding: 15px;
    border-bottom: none;
    height: 76px;
  }

  .main-bg {
    margin-top: 76px;
  }

  .box-icon {
    margin: 0px;
    position: absolute;
    height: 20px;
    top: 13px;
    bottom: 0;
  }

  .box-icon .icon {
    color: #fff;
    height: 20px;
    font-size: 20px;
  }

  .box-icon-search {
    right: 45px;
  }

  .box-icon-other {
    text-align: right;
    right: 0;
  }

  .box-icon-other span {
    cursor: pointer;
    font-size: 20px;
    top: 1px;
    color: #fff;
  }

  .box-icon-nav {
    left: 0;
  }

  .nav-mobile,
  .bg-nav-mobilce,
  .bg-nav-mobilce2 {
    position: fixed;
  }

  .footer .qrcodes {
    width: 100%;
    text-align: center;
  }

  .footer .qrcodes .item {
    margin: 0 2%;
  }

  .footer-info .pic .logo {
    display: none;
  }
}

@media (max-width: 480px) {
  .header {
    background-size: 140% 100%;
    background-image: url(../images/top_bg_m.jpg);
  }

  .box-icon .icon,
  .box-icon.open .icon-collapse {
    font-size: 15px;
    top: 4px;
  }

  .box-icon-other span {
    font-size: 15px;
    top: 4px;
  }

  .footer-info .txt {
    line-height: 24px;
  }

  .footer-info .pic {
    padding-right: 0;
    text-align: center;
    margin-top: 10px;
  }

  .footer-info .pic img {
    max-width: 80px;
  }

  .footer-info .txt,
  .footer-info .pic,
  .footer-info {
    display: block;
  }
}


/*页码样式调整*/

.wp_paging {
  float: none;
  text-align: right;
  margin-top: 35px;
}

.wp_paging li,
.wp_paging li span,
.wp_paging li a {
  float: none;
  margin-top: 15px;
}

.wp_paging a.pagingJump {
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  background: #2DC0B8;
  color: #fff;
  padding: 0 3px 0 7px;
  border-radius: 5px;
  margin-left: -7px;
  margin-bottom: 3px;
}

.wp_paging a.pagingJump:hover {
  color: #fff;
}

.wp_paging li span.pages {
  margin-left: 15px;
  margin-top: -2px;
}

.wp_paging li input {
  width: 55px;
  height: 28px;
  line-height: 20px;
  border-radius: 4px;
  margin-top: -25px;
}