.common-content {
  float: left;
  width: 100%;
  min-height: 200px;
  padding-bottom: 10px;
}

.common-left {
  float: left;
  width: 21.3%;
  position: relative;
}

.common-right {
  float: right;
  width: 73.6%;
  border-top: 2px solid #0a5db8;
}

/* .local-title {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 25px 10px 40px 30px;
  height: 100px;
  background: url("../images/leftbar_bg.jpg") no-repeat 100% 100%;

} */

.thr-sub {
  display: none;
}

.sub-open,
.navlist2 li a {
  display: block;
  letter-spacing: 1px;
}

.navlist2 {
  margin-bottom: 15px;
  overflow: hidden;
}

.navlist2>li>a {
  font-size: 18px;
  letter-spacing: 1px;
  color: #333333;
  padding: 20px 20px 20px 30px;
  /* margin-top: 2px; */
  /* background: #eeeeee; */
}

.navlist2>li.active {
  position: relative;
  background: #fff;
}

.navlist2>li.active::before {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
  width: 28%;
  height: 100%;
  background-image: url(../images/shuiyin.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.navlist2>.has-sub.active::before {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
  width: 70px;
  height: 65px;
  background-image: url(../images/shuiyin.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
    z-index: 9;
}

.navlist2>li.active .thr-sub {
  display: block;
}

.navlist2>li.active.open>a:after {
  display: none;
}

.navlist2 .has-sub>a {
  position: relative;
  background-color: #F2F2F2;
}

/* .navlist2 .has-sub>a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0; 
  margin: auto;
  width: 5px;
  height: 15px;
  background-color: #e7ad31;
  border: 5px solid transparent;
  border-left-color: #333333; 
} */

.navlist2 .active.has-sub>a {
  background-color: #0a5db8;
  color: #FFFFFF;
  font-size: 18px;
}

.navlist2 .active.has-sub>a:after {
  border-left-color: #ffff;
}

.navlist2>li.active {
  width: 100%;
}

.navlist2>li.active>a {
  background-color: #0a5db8;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  border-radius: 0px 8px 0px 0px;
}

.navlist2>li.active>a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: #2DC0B8;
}

.navlist2>li.active>a::after {
  content: "";
  position: absolute;
  right: 6%;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 15px;
  border: 7px solid transparent;
  border-left-color: #ffff;
}

.navlist2 .thr-sub {
  position: relative;
  background-color: #ffffff;
  padding: 10px 0;
}

.navlist2 .thr-sub li {
  background-color: #ffffff;
}

.navlist2 .thr-sub:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: #f2f2f2;
}


.thr-sub li a {
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  padding: 10px 4px 10px 21px;
  position: relative;
}

.thr-sub li a.active {
  color: #0a5db8;
  font-weight: bold;
}

.thr-sub li a.active:before {
  content: "";
  display: block;
  position: absolute;
  left: 11px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-left-color: #e7ad31;
}


.common-local {
  font-size: 12px;
  color: #666;
  padding: 15px 0 15px 0;
  position: relative;
  // background: url(../images/icon_local.png) left center no-repeat;

}

/* .common-local:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0a5db8;
  background-image: linear-gradient(90deg, #0a5db8 0%, #0a5db8 100%),
    linear-gradient(#86b3bc, #86b3bc);
  background-blend-mode: normal, normal;
} */

.common-local a {
  color: #666;
}

.common-local a:hover {
  color: #0b7b93;
}

.common-list>li>a {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.common-list>li.list-F>a {
  display: block;
  /*background-color: #f1f1f3;*/
  padding: 15px 20px 20px 85px;
  position: relative;
  border-bottom: 1px solid #eee;
}

.common-list .list-F .time {
  background: #0b7b93;
  width: 65px;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 10px;
  color: #fff;
}

.common-list .list-F .ym {
  font-size: 12px;
  line-height: 34px;
}

.common-list .list-F .day {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  padding-top: 15px;
}

.common-list .list-F .tit {
  font-size: 16px;
  line-height: 1;
  color: #000000;
}

.common-list .list-F .intro {
  text-indent: 2em;
  font-size: 12px;
  line-height: 22px;
  color: #666666;
  max-height: 44px;
  margin-top: 10px;
}

.common-list .list-F a:hover .tit {
  color: #0b7b93;
}

.common-list>li.list-S {
  float: left;
  width: 100%;
  padding: 15px 18px;
  border-bottom: 1px solid #EEEEEE;
}

.common-list>li.list-S>a {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
  max-height: 56px;
  overflow: hidden;
  color: #000;
  padding: 0 80px 0 24px;
}

.common-list>li.list-S>a:before {
  content: '';
  /* border-top: 3.5px solid transparent;
  border-bottom: 3.5px solid transparent;
  border-left: 6px solid #b5b5b5; */
  background-image: url(../images/list_icon.png);
  width: 16px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 9px;
  transition: all .2s ease-in;
}

.common-list>li.list-S>a span {
  font-size: 12px;
  color: #999;
  position: absolute;
  right: 0;
  top: 0;
}

.common-list>li.list-S>a:hover {
  color: #0a5db8;
}

/*.common-list>li.list-S>a:before{*/
/*	border-left: 6px solid transparent;*/
/*	border-left: 6px solid #0b7b93;*/
/*}*/

.list-title {
  border-bottom: 1px solid #0a5db8;
  float: left;
  width: 100%;
}

.list-title h4 {
  float: left;
  font-size: 16px;
  background-color: #0a5db8;
  padding: 8px;
  color: #fff;
}

.list-show {
  color: #0a5db8;
  margin-top: 17px;
  font-size: 15px;
  cursor: pointer;
}

.article-header {
  padding: 10px 15px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.article-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  color: #064E94;
}

.article-small {
  font-size: 0;
  text-align: center;
  margin-top: 20px;
}

.publish-unit {
  position: relative;
}

.publish-unit:before {
  /*content:"";*/
  /*display: block;*/
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1px;
  height: 10px;
  background-color: #4b4b4b;
}

.article-small span {
  font-size: 12px;
  letter-spacing: 1px;
  color: #000000;
  display: inline-block;
  padding: 0 20px;
}

/* .article-content p {
  text-indent: 2em;
} */

/* 轮播图 */
.banner {
  /* height: 460px; */
  background-color: #e1ecf5;
}

.bxslider {
  width: 1200px;
  margin: auto;
}

.target {
  width: 1200px;
  /* height: 460px; */
  overflow: hidden;
  margin: auto;
}

.target img {
  width: 100%;
  height: 100%;
}


.index-part1 {
  position: relative;
}

.index-bn .item {
  display: block;
  /*padding-bottom: 35.542%;*/
  /* width: 1200px; */
  padding-bottom: 39%;
  margin: auto;
  position: relative;
  background-color: #e1ecf5;
}

.index-bn .item .tit {
  position: absolute;
  bottom: 40px;
  left: 2%;
  width: 100%;
  right: 2%;
  max-width: 1200px;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
  color: #ffffff;
  line-height: 40px;
  max-height: 80px;
  margin: auto;
  font-weight: normal;
}

.index-part1 .arrows {
  position: absolute;
  top: 202px;
  bottom: 0;
  left: 0;
  right: 0;
  /* margin: auto; */
  width: 100%;
  height: 0;
}

.index-part1 .slick-arrow {
  display: inline-block;
  cursor: pointer;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  /* margin-top: -107px; */
  background: url("/images/banner_arrow_l.png") no-repeat center;
  color: transparent;
}

.index-part1 .slick-next {
  float: right;
  background: url("/images/banner_arrow_r.png") no-repeat center;
}




.index-part .column-2 {
  float: left;
  width: 63.75%;
}

.index-part .column-r {
  float: right;
  width: 30.5%;
}

.index-tit {
  overflow: hidden;
}

.index-tit .txt {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #0b7b93;
  display: inline-block;
}

.index-tit .more,
.index-tit .separate {
  font-size: 12px;
  color: #999999;
  position: relative;
}

.index-tit .separate {
  display: inline-block;
  margin: 0 20px;
}

.index-tit .more:hover {
  color: #0b7b93;
}

.index-part2 .intro {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  margin: 20px 0;
  text-indent: 2em;
}

.index-part2 .read-more {
  float: right;
  font-size: 14px;
  color: #0b7b93;
}

.index-part3 {
  padding: 40px 0 25px;
  background: #fff;
}

.index-part .column-l {
  float: left;
  width: 24.333%;
  margin-right: 3.333%;
}

.index-part .column-c {
  float: left;
  width: 36.666%;
}

.index-part3 .index-tit {
  margin-bottom: 20px;
}

.index-part3 .data-l a {
  display: block;
  padding-left: 57px;
  position: relative;
}

.index-part3 .data-l .time {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0b7b93;
  height: 50px;
  text-align: center;
  color: #fff;
  width: 43px;
}

.index-part3 .data-l .day {
  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 1px;
}

.index-part3 .data-l .month {
  font-size: 12px;
  font-weight: normal;
}

.index-part3 .data-l .tit {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #000000;
  height: 52px;
}

.index-part3 .data-l .tit:hover {
  color: #0b7b93;
}

.index-part3 .data-l .txt {
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
}

.index-part3 .data-l li {
  margin-bottom: 15px;
}

.index-part3 .data-c .first a {
  display: block;
  height: 110px;
  background-color: #eeeeee;
  position: relative;
  padding-left: 180px;
}

.index-part3 .data-c .pic {
  position: absolute;
  width: 160px;
  height: 100%;
  left: 0;
}

.index-part3 .data-c .time {
  position: relative;
  font-size: 12px;
  color: #454545;
  vertical-align: middle;
  padding: 13px 0 10px;
  display: inline-block;
}

.index-part3 .data-c .first .time {
  padding-top: 15px;
}

.index-part3 .data-c .time:before {
  content: "";
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 8px;
  background: url("../images/icon_time.png") no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}

.index-part3 .data-c .first .tit {
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  color: #000000;
  height: 56px;
  padding-right: 25px;
}

.index-part3 .data-c .item .tit {
  font-size: 16px;
  font-weight: normal;
  color: #000000;
}

.index-part3 .data-c .tit:hover {
  color: #0b7b93;
}

.index-part3 .data-c .item {
  padding-bottom: 11px;
  border-bottom: 1px dashed #c9c9c9;
}

.index-part3 .column-r .pic {
  height: 206px;
}

.index-part3 .column-r .data-txt {
  padding: 15px 20px;
  border: 1px solid #eee;
  border-top: 0;
  height: 180px;
}

.index-part3 .column-r .data-txt .tit {
  font-size: 16px;
  font-weight: bold;
  color: #0b7b93;
  text-indent: 24px;
}

.index-part3 .column-r .data-txt .intro {
  font-size: 12px;
  font-weight: normal;
  line-height: 24px;
  color: #343434;
  -webkit-line-clamp: 4;
  max-height: 96px;
  text-indent: 24px;
  margin: 15px 0 5px;
}

.index-part3 .column-r .data-txt .read-more {
  font-size: 12px;
  font-weight: normal;
  color: #2996ad;
  float: right;
}

.index-part4 {
  background: #f6f6f6;
  padding-top: 40px;
}

.index-tit.line .more:after {
  content: "";
  display: block;
  position: absolute;
  width: 1200px;
  height: 2px;
  background-color: #0b7b93;
  background-image: linear-gradient(90deg,
      #0088a1 0%,
      #38c0d9 100%),
    linear-gradient(#86b3bc,
      #86b3bc);
  background-blend-mode: normal,
    normal;
  top: 1px;
  bottom: 0;
  left: 150%;
  margin: auto;
}

.index-tit.red .txt {
  color: #b92a2d;
}

.index-tit.red .more:hover {
  color: #b92a2d;
}

.index-tit.red.line .more:after {
  background-image: none;
  background-color: #b92a2d;
}

.index-part4 .index-tit {
  margin-bottom: 20px;
}

.index-part4 .column-2 {
  overflow: hidden;
}

.index-part4 .slick-box {
  margin: 0 -17px;
}

.index-part4 .slick-box .slick-slide {
  padding: 0 17px;
}

.index-part4 .slick-box .pic {
  padding-bottom: 55.932%;
}

.index-part4 .slick-box .txt {
  padding: 15px;
  background: #fff;
}

.index-part4 .slick-box .tit {
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
  color: #000000;
  height: 50px;
}

.index-part4 .slick-box a:hover .tit {
  color: #0b7b93;
}

.index-part4 .arrows {
  text-align: center;
  padding: 15px 0 10px;
}

.index-part4 .slick-arrow {
  width: 28px;
  height: 28px;
  margin: 0 7px;
  border-radius: 50%;
  color: transparent;
  background: url("../images/research_arrow_l.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
}

.index-part4 .slick-next {
  background: url("../images/research_arrow_r.png") no-repeat center center;
  background-size: contain;
}

.index-part4 .data-r .first .pic {
  display: block;
  height: 96px;
}

.index-part4 .data-r .item {
  margin-top: 8px;
}

.index-part4 .data-r .item a {
  display: block;
  padding-left: 14px;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  position: relative;
}

.index-part4 .data-r .item a:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-left-color: #ba2b2e;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.index-part4 .data-r .item a:hover {
  color: #b92a2d;
}

.index-part .column-half {
  width: 48.333%;
  float: left;
}

.index-part5 {
  padding: 40px 0;
}

.index-part5 .index-tit {
  margin-bottom: 10px;
}

.index-part5 .data-ls a {
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  padding: 0 70px 0 15px;
  position: relative;
}

.index-part5 .data-ls a:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-left-color: #007593;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.index-part5 .data-ls .time {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  color: #999999;
}

.index-part5 .data-ls a:hover {
  color: #0b7b93;
}

.index-part5 .data-r {
  float: right;
}

.index-part6 {
  padding: 15px 0;
  background: #eee;
  font-size: 14px;
  color: #333;
}

.index-part6 .part-tit {
  color: #0b7b93;
  margin-right: 0;
}

.index-part6 a {
  color: #333;
}

.index-part6 li {
  display: inline-block;
  margin-right: 40px;
}

.index-part6 a:hover {
  color: #0b7b93;
}


.inner-bt {
  margin-bottom: 2%;
}

.leader-ls {
  margin-top: 20px;
}

.leader-ls li {
  float: left;
  width: 47.058%;
  margin-bottom: 3.4%;
}

.leader-ls li.side {
  float: right;
}

.leader-ls a {
  display: block;
  position: relative;
  padding-left: 130px;
  background-color: #f6f6f6;
}

.leader-ls .pic {
  position: absolute;
  width: 130px;
  height: 100%;
  left: 0;
  top: 0;
  margin: auto;
  background-size: contain;
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  background-position: center center;
}

.leader-ls .txt {
  height: 158px;
  padding: 20px 30px 20px;
}

.leader-ls .tit {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #0b7b93;
}

.leader-ls .text {
  font-size: 14px;
  font-weight: normal;
  color: #666666;
}

.leader-ls .position {
  padding: 15px 0 8px;
  border-bottom: 1px solid #dcdcdc;
}

.leader-ls .mailbox {
  margin-top: 15px;
  line-height: 24px;
  max-height: 48px;
}

.leader-info {
  margin-top: 20px;
  position: relative;
  padding-left: 222px;
  margin-bottom: 35px;
  background: #f9f9f9;
}

.leader-info .pic {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 169px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.leader-info .txt {
  min-height: 206px;
  padding: 40px 40px 20px 0px;
  word-break: break-all;
}

.leader-info .tit {
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  color: #0b7b93;
  display: inline-block;
  margin-right: 20px;
}

.leader-info .position {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #1b1b1b;
}

.leader-info .intro {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #dcdcdc;
  font-size: 14px;
  color: #000;
}

.leader-info .tag {
  color: #999;
  display: inline-block;
  margin-right: 10px;
}

.leader-info .mailbox:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 10px;
  background: url("../images/icon_email.png") no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}


.leader-part .info-tit {
  border-bottom: 1px solid #0b7b93;
  margin-bottom: 10px;
}

.leader-part .info-tit .txt {
  line-height: 36px;
  padding: 0 35px;
  font-size: 14px;
  font-weight: bold;
  color: #0b7b93;
  position: relative;
  display: inline-block;
  /* float: left; */
  cursor: pointer;
}

.leader-part .info-tit .txt.active {
  background-color: #0b7b93;
  color: #ffffff;
}

.leader-part .info-tit .txt:after {
  content: "";
  display: block;
  width: 1px;
  height: 14px;
  background-color: #cccccc;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.leader-part .info-tit .txt.active:after {
  display: none;
}


.leader-part .info-txt {
  padding: 15px 0px 30px;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.leader-part .info-txt p {
  text-indent: 2em;
}

.leader-part .info-txt .strong {
  font-size: 16px;
  font-weight: bold;
  color: #0b7b93;
}

.inner-banner {
  height: 200px;
  margin-bottom: 2%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}




.four-sub {
  border-bottom: dashed 1px #e5e5e5;
  padding-bottom: 15px;
  padding-top: 15px;
}

.four-sub li {
  float: left;
}

.four-sub li a {
  display: block;
  background-color: #eeeeee;
  border-radius: 5px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 16px;
  color: #0b7b93;
  margin-right: 12px;
  margin-bottom: 5px;
  min-width: 100px;
}

.four-sub li.active a {
  background-color: #0b7b93;
  color: #fff;
}



@media (min-width: 991px) {
  .common-left {
    display: block !important;
  }
}

@media (max-width: 1200px) and (min-width:991px) {
  .header-link {
    // display: none;
  }

  .header-link.last {
    display: block
  }
}

@media (max-width: 991px) {

  .common-left,
  .common-right,
  .main-left,
  .main-right {
    width: 100%;
  }

  .common-left {
    display: none;
    margin-top: 0;
  }

  .common-local {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0;
  }

  .navlist2 {
    min-height: auto;
  }

  .index-part4 .content li,
  .index-part5 .content li {
    width: 48%;
    margin-right: 4%;
  }

  .index-part4 .content li.side,
  .index-part5 .content li.side {
    margin-right: 0;
  }

  .leader-ls li {
    width: 100%;
  }

  .index-part1 .arrows {
    position: relative;
    top: 0;
  }

  .index-bn .item {
    height: 200px;
  }

  .index-part1 .slick-arrow {
    width: 35px;
    height: 35px;
    margin-top: -17px;
    background-size: 20%;
  }

  .index-bn .slick-dots li {
    width: 22px;
    height: 2px;
  }

  .index-bn .item .tit {
    font-size: 16px;
    bottom: 20px;
  }

  .index-part .column {
    width: 100%;
  }

  .index-part .column-c,
  .index-part .column-r,
  .index-part5 .data-r {
    margin-top: 20px;
  }

  .index-part4 {
    padding-bottom: 30px
  }

  .index-part6 i {
    display: block;
    margin-top: 5px;
  }

  .index-part6 li {
    margin-right: 12px;
  }

  .common-content {
    margin-top: 10px;
  }

}

@media (max-width: 768px) {

  .main-title {
    margin-top: 30px;
  }

  .main-list1 {
    margin-top: 15px;
  }

  .main-list1 li {
    width: 100% !important;
  }

  .main-list1 li.list-S {
    margin: 20px 0 0 0;
  }

  .main-theme {
    padding-top: 20px;
    margin: 30px -3% 0;
  }

  .main-theme li {
    width: 44%;
    margin: 0 3% 20px;
  }

  .article-title {
    font-size: 18px;
    line-height: normal;
  }

  .photo-list,
  .teacher-list {
    margin: 0 -2.5%;
  }

  .photo-list>li,
  .teacher-list>li {
    width: 45%;
    margin: 2% 2.5%;
  }

  .teacher-top {
    height: auto;
    padding-left: 0;
  }

  .teacher-img {
    width: 100%;
    height: auto;
    padding-bottom: 74%;
    position: relative;
  }

  .inner-banner {
    height: 75px;
  }

}

@media (max-width: 640px) {
  .leader-part .info-txt {
    padding-top: 15px;
    padding-bottom: 20px;
    line-height: 28px;
  }

  .leader-info {
    padding-left: 190px;
  }

  .leader-info .position {
    display: block;
    line-height: 24px;
    max-height: 72px;
    overflow: hidden;
  }

  .leader-info .intro {
    padding-top: 15px;
    margin-top: 15px;
  }

  .leader-info .txt {
    padding: 20px 20px 20px 0;
  }

  .leader-part .info-tit .txt {
    padding: 0 10px;
  }

}

@media (max-width: 450px) {
  .main-theme {
    margin: 30px 0 0;
  }

  .main-theme li {
    width: 100%;
    margin: 0 0 20px;
  }

  .index-part2 .left-ls li {
    width: 100%;
    margin-bottom: 2%;
    margin-right: 0;
  }

}

.info-tit li {
  line-height: 36px;
  padding: 0 35px;
  font-size: 14px;
  font-weight: bold;
  color: #0b7b93;
  position: relative;
  display: inline-block;
  /* float: left; */
  cursor: pointer;
}

.info-tit li.active {
  background-color: #0b7b93;
  color: #ffffff;
}

.info-txt .info-tab {
  display: none;
}

.info-txt .on {
  display: block;
}

.four-sub li.active a {
  background-color: #0b7b93;
  color: #fff;
}